@font-face {
  font-family: "Roboto";
  src: url("../fonts/Poppins-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: regular;
  font-style: normal;
}

